* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

/* ===start upper bar=====*/
.upper-par {
    background-color: #06255f;
}

.CONTACT-INFO {
    margin: 0;
    padding: 7px 0;
}

.CONTACT-INFO i {
    font-size: 22px !important;
    margin-right: 20px !important;
    text-align: center !important;
    margin-right:20px;
    margin-top: 5px;
    color: #fff;
}

.CONTACT-INFO span {
    font-size: 18px;
    float: left;
    color: #fff;
}

.kk {
    transform: translateX(13px);
}

.span-email {
    transform: translateX(15px);
}

.CONTACT-INFO .line-info-contact {
    width: 32px;
    height: 1px;
    top: 15px;
    right: 210px;
    background-color: gray;
    position: relative;
    transform: rotate(90deg);
}

.upper-par .icon-social {
    margin: 0;
    padding: 7px 0;
    text-align: center;

}

.upper-par .icon-social i {
    font-size: 20px;
    margin-right: 15px;
    transition: .3s all;
    cursor: pointer;
    color: #fff;
}

.fa-facebook:hover {
    transform: scale(1.1);
}

.fa-instagram:hover {
    transform: scale(1.1);
}

.fa-whatsapp:hover {
    transform: scale(1.1);
}

.fa-twitter:hover {
    transform: scale(1.1);
}

.upper-par .contact-language {
    padding: 10px 0;
    margin: 0;
}

.contact-language .line-info-contact {
    width: 32px;
    height: 1px;
    right: 25px;
    bottom: 10px;
    background-color: gray;
    position: relative;
    margin-left: -10px;
    transform: rotate(90deg);
}

.upper-par .contact-language .span1 {
    color: red;
    cursor: pointer;
}

.upper-par .contact-language .span2 {
    color: gray;
    margin-right: 10px;
    cursor: pointer;
}


.CONTACT-INFO {
    margin: 0;
    padding: 7px 0;
}

.CONTACT-INFO a {
    float: left;
}

.CONTACT-INFO .log-in {
    color: gold;
    text-decoration: none;
}

.CONTACT-INFO .sign-in {
    color: #fff;
    margin-left: 28px;
    border-bottom: 1px solid #fff;
}

.CONTACT-INFO .sign-in:hover {
    text-decoration: none;
}

/*====end upper bar=====*/

/*====start navbar=====*/
nav {
    position: relative !important;
    padding: 10px 80px !important;
    box-shadow: 2px 2px 8px rgb(216, 211, 211) !important;
}

.navbar img {
    width: 160px;
    margin-left: 10px;
}

.navbar-brand {
    color: rgb(189, 11, 11) !important;
    font-size: 30px;
    font-weight: bold;
    margin-right: 1px !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(189, 11, 11) !important;
    font-weight: bold !important;
    margin-left: 10px !important;
}

nav .line-nav {
    position: absolute;
    width: 70px;
    height: 2px;
    bottom: 0;
    background-color: rgb(196, 15, 15);
    ;
}

.navbar-light .navbar-nav .nav-link {
    color: #06255f !important;
    margin-right: 5px !important;

}

nav li:not(:last-of-type) {
    border-left: rgb(235, 229, 229) 1px solid;
}

.navbar-light .navbar-toggler {
    outline: none;
}

.btn-nav {
    background-color: #06255f !important;
    margin-right: 20px;
    padding: 3px 30px;
}

nav .link-login {
    color: #06255f;
    border-bottom: 1px solid #06255f;
}

nav .link-login:hover {
    text-decoration: none;
}

nav .btn-nav img {
    width: 40px;
    transform: translateX(20px);
}

/*====end navbar=====*/
/*=====start section about======*/
.order {
    padding: 20px 0;
    background-color: #f8f9fa;
}

.header-order {
    background-color: #fff;
    border: 1px solid rgb(214, 214, 214);
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
}

.order .header-order .a1 {
    font-size: 14px;
    text-decoration: none;
    color: rgb(202, 202, 202);
}

.order .header-order .span2 {
    margin-right: 10px;
    color: #022974;
    margin-left: 3px;

}

.order .header-order .a2 {
    color: #022974;
    text-decoration: none;
}

.headerorder {
    margin-top: 50px;
}

.headerorder h4 {
    text-align: center;
    font-weight: bold;
    color: rgb(189, 11, 11);
}

.inewhiteorder {
    width: 100%;
    height: 1px;
    background-color: rgb(201, 200, 200);

    margin: auto;
}

.linered-order {
    width: 110px;
    height: 2px;
    background-color: rgb(189, 11, 11);
    margin: auto;

}

/*start background-order*/
.order .background-order {
    margin: auto;
  
    background-color: rgb(233, 233, 233);
    margin-top: 5px;

}

.order .background-order .contact-order {
    width: 100%;
    height: 100px;
    background-color: #fff;

}

/*start inputs selcet*/
.input-order {
    margin: auto;

    margin-bottom: 20px;
    width: 80%;
 display: flex;
 justify-content: center;
 align-items: center;
    padding: 20px 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #fff;
  width: 100%;
    padding: 0 .5em;
    color: gray;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
  
    width: 290px;
    height: 3em;
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1em;
    background: none;
    cursor: pointer;
    border-right: 1px solid rgb(224, 224, 224);
    pointer-events: none;
    transition: .25s all ease;
    color: #06255f;

}

.order .divbutton button {
    width: 50px;
    color: #06255f;
    height: 50px;
    margin-top: -10px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
transition: .3s all;
}
.order .divbutton button:hover{
    box-shadow: 3px 3px 8px rgb(153, 152, 152);
    transform: scale(1.1);
}
.order .contct-order-blod{
 
    background-color: #fff;
    border-radius: 0 300px 300px 0;
    margin-bottom: 30px;
}
 .background-kind-blod{
width: 130px;
   height: 130px;
    background-color: rgb(214, 214, 214);
    border-radius: 50%;
display: flex;
margin-top: 3px;
margin-right: 3px;
margin-bottom: 3px;
margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.background-kind-blod h3{
    font-weight: bold;
    font-size: 45px;
}

.order .contct-order-blod p{
    margin-top: 10px;
}
.order .contct-order-blod .span1{
    margin-left: 15px;
    color: #022974;
    font-weight: bold;
}
.order .contct-order-blod .span2{
    color: #022974;
}
.order .contct-order-blod .k{
    margin-left: 30px;
}

 .btn-blod-order{
    background-color: rgb(241, 241, 241)!important;
font-weight: bold;
color: #000;
padding: 20px 50px;
border: none;
}
.btn-blod-order:hover{
    color: #000;
}
.order .button-bold-order{
    text-align: center;
    padding: 30px 0;
    
}
.order .butn-blue{
    background-color: #022974 !important;
    color: #fff;
}
/*start group button*/
.box-button{  
 display: flex;
 align-items: center;
 justify-content: center;
 
}
.box-button button{
    margin-left: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid rgb(201, 200, 200);
    margin-bottom: 20px;
  transform: translateX(-13px);
}
.box-button .bt1{
    background-color: #022974;
    color: #fff;
}
/*end button group*/
/*=====end section order=====*/
/*=====start footer====*/
footer .backgroundlast{
    width: 100%;
    background-color:#1a1f25;
}
.footer1{
    margin-top: 40px;
}
 footer .backgroundlast .footer1 h5{
color: #fff;
font-weight: bold;
margin: 25px 0;
 }
 footer .backgroundlast .footer1 p{
     color: #fff;
     font-size: 15px;
     
    }
 footer .backgroundlast .footer-links{
     text-align: center;
     margin-top: 40px;
 }
 footer .backgroundlast .footer-links p{
     color: #fff;
     font-weight: bold;
     
 } 
 footer .backgroundlast .footer-links .kl{
     color: rgb(189, 11, 11);
 }
footer .backgroundlast .footer-links .l{
    margin-bottom: 20px;
}
 footer .backgroundlast .footer-links a:hover{
     text-decoration: none;
     color: #fff;
 }
 footer .backgroundlast .footer-app{
     margin-top: 40px;
 }
 footer .backgroundlast .footer-app h6{
     color: rgb(189, 11, 11);
     font-weight: bold;
 }
 footer .backgroundlast .footer-app .img-ggole{
     margin: 50px 0;
 }
 .icons-footer{
     width: 100%;
     
     background-color: #14171c;
 }
 .img-ios{
     margin-bottom: 15px;
 }
 .icons-footer{
     padding-top: 10px;
 }
 footer .backgroundlast .icons-footer .icon-social-footer i{
     margin-left: 20px;
     color: #fff;
     font-size: 20px;
 }
footer .backgroundlast .lastp-footer p{
    color: #fff;
}
footer .backgroundlast .lastp-footer p span{
    color: rgb(189, 11, 11);
}
/*======end footer=====*/
/*=====start media query=====*/
@media(max-width:990px) {
    .upper-par .contact-language {

        text-align: center;
    }

    .contact-language .line-info-contact {
        width: 32px;
        height: 1px;
        right: 8px;
        bottom: 10px;
        background-color: gray;
        position: relative;
        margin-left: -10px;
        margin: auto;
        transform: rotate(90deg);
    }

    .navbar-brand {
        color: rgb(189, 11, 11) !important;
        font-size: 30px !important;
        font-weight: bold !important;
        margin-right: 0 !important;
    }

    nav {
        position: relative !important;
        padding: 10px 10px !important;
    }

    nav .line-nav {
        bottom: 260px;
    }

    nav li {
        border: none !important;
    }

    .img-ios {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-ggole {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .backgroundlast .footer-app h6 {
        text-align: center;
    }

    .footer1 {
        text-align: center;
    }

    .icon-social-footer,
    .lastp-footer {
        text-align: center;
    }
    .CONTACT-INFO{
        margin: auto;
        width: 4400px;
        
       }
       .CONTACT-INFO .sign-in{
           color: #fff;
           margin-left: 8px;
           border-bottom: 1px solid #fff;
       }

}

@media(max-width:890px) {
    .order .divbutton {
        margin: auto;
    }

    /*start inputs selcet*/
    .input-order {
        margin: auto;
        position: relative;
        margin-bottom: 50px;
        width: 80%;
        padding: 20px 0;
    }
}

@media(max-width:767px) {
    .input-order {
        display: block;
    }

    .divbutton {
        text-align: center;
      
    }
.select{
    margin: auto;
    margin-bottom: 20px;
}

.background-kind-blod{
    width: 80px;
       height: 80px;
        background-color: rgb(214, 214, 214);
        border-radius: 50%;
    display: flex;
    margin-top: 13px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
        justify-content: center;
        align-items: center;
    }
    .background-kind-blod h3{
        font-weight: bold;
        font-size: 30px;
    }
    .order .contct-order-blod p{
        line-height: 30px;
        margin: 0;
    }
    .order .contct-order-blod .span1{
        margin-left: 2px;
        color: #022974;
        font-weight: bold;
        font-size: 12px;
    }
    .order .contct-order-blod .span2{
        color: #022974;
        font-size: 12px;
    }
    .order .contct-order-blod .k{
        margin-left: 3px;
    }
    .dd{
        background-color:transparent;
        margin-left: 80px;
        
    }
    .btn-blod-order{
        background-color: rgb(241, 241, 241)!important;
    font-weight: bold;
    color: #000;
    padding: 16px 20px;
    border: none;
    }
    .box-button button{
        margin-left: 3px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background-color: #fff;
        padding: 10px 20px;
        border: 1px solid rgb(201, 200, 200);
        margin-bottom: 20px;
      transform: translateX(-2px);
    }
}
@media(max-width:756px){
    .background-kind-blod{
        width: 85px;
           height: 85px;
            background-color: rgb(214, 214, 214);
            border-radius: 50%;
        display: flex;
        margin-top: 10px;

        margin-right: 3px;
        margin-bottom: 3px;
        margin-left: 10px;
            justify-content: center;
            align-items: center;
        }
        .background-kind-blod h3{
            font-weight: bold;
            font-size: 30px;
        }
        .order .contct-order-blod p{
            margin-top: 1px;
        }
        .order .contct-order-blod .span1{
            margin-left: 0;
            color: #022974;
            font-weight: bold;
            font-size: 13px;
        }
        .order .contct-order-blod .span2{
            color: #022974;
            font-size: 11px;
            
        }
        .order .contct-order-blod .k{
            margin-left: 0;
        }
        .dd{
            
            background-color: transparent;
               margin-left: 90px;
        }
    
        .btn-blod-order{
            background-color: rgb(241, 241, 241)!important;
        font-weight: bold;
        color: #000;
        padding: 16px 20px;
        border: none;
        text-align: center;
        }
}
@media(max-width:575px){
    .dd{
            
        background-color: transparent;
           margin-left: 0;
    }
    .background-kind-blod{
        width: 100px;
           height: 100px;
            background-color: rgb(214, 214, 214);
            border-radius: 50%;
        display: flex;
        margin-top: 3px;
        margin-right: 3px;
        margin-bottom:0;
        margin-left: 3px;
        transform: translateY(5px);
            justify-content: center;
            align-items: center;
        }
        .background-kind-blod h3{
            font-weight: bold;
            font-size: 30px;
        }
        .order .contct-order-blod p{
            margin-top: 0;
        }
        .order .contct-order-blod .span1{
            margin-left: 2px;
            color: #022974;
            font-weight: bold;
         font-size: 13px;
        }
        .order .contct-order-blod .span2{
            color: #022974;
        }
        .order .contct-order-blod .k{
            margin-left: 2px;
        }
        .btn-blod-order{
            background-color: rgb(241, 241, 241)!important;
        font-weight: bold;
        color: #000;
        padding: 16px 10px;
        border: none;
        }

        .box-button button{
            margin-left: 3px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            background-color: #fff;
            padding: 10px 15px;
            border: 1px solid rgb(201, 200, 200);
            margin-bottom: 20px;
          transform: translateX(-2px);
        }
}
@media(max-width:456px){
    
    .background-kind-blod{
        width: 100px;
           height: 100px;
            background-color: rgb(214, 214, 214);
            border-radius: 50%;
        display: flex;
        margin-top: 2px;
        margin-right: 3px;
        margin-bottom:3px;
        margin-left: 3px;
      
            justify-content: center;
            align-items: center;
        }
        .background-kind-blod h3{
            font-weight: bold;
            font-size: 30px;
        }
        .order .contct-order-blod p{
            margin: 0;
            line-height: 30px;
        }
        .order .contct-order-blod .span1{
            margin-left: 2px;
            color: #022974;
            font-weight: bold;
         font-size: 13px;
        }
        .order .contct-order-blod .span2{
            color: #022974;
            font-size: 13px;
        }
        .order .contct-order-blod .k{
            margin-left: 2px;
        }
        .btn-blod-order{
            background-color: rgb(241, 241, 241)!important;
        font-weight: bold;
        color: #000;
        padding: 16px 10px;
        font-size: 13px;
        border: none;
        }
}
@media(max-width:425px){
    .background-kind-blod{
        width: 85px;
           height: 85px;
            background-color: rgb(214, 214, 214);
            border-radius: 50%;
        display: flex;
        margin-top: 2px;
        margin-right: 3px;
        margin-bottom:3px;
        margin-left: 3px;
      
            justify-content: center;
            align-items: center;
        }
        .background-kind-blod h3{
            font-weight: bold;
            font-size: 30px;
        }
        .order .contct-order-blod p{
            margin: 0;
            line-height: 30px;
        }
        .order .contct-order-blod .span1{
            margin-left: 2px;
            color: #022974;
            font-weight: bold;
         font-size: 13px;
        }
        .order .contct-order-blod .span2{
            color: #022974;
            font-size: 13px;
        }
        .order .contct-order-blod .k{
            margin-left: 2px;
        }
        .btn-blod-order{
            background-color: rgb(241, 241, 241)!important;
        font-weight: bold;
        color: #000;
        padding: 16px 10px;
        font-size: 13px;
        border: none;
        }
}
@media(max-width:406px){
   
        .background-kind-blod{
            width: 80px;
               height: 80px;
                background-color: rgb(214, 214, 214);
                border-radius: 50%;
            display: flex;
            margin-top: 12px;
            margin-right: 3px;
            margin-bottom:3px;
            margin-left: 3px;
          
                justify-content: center;
                align-items: center;
            }
            .background-kind-blod h3{
                font-weight: bold;
                font-size: 30px;
            }
            .order .contct-order-blod p{
                margin: 0;
                line-height: 30px;
            }
            .order .contct-order-blod .span1{
                margin-left: 2px;
                color: #022974;
                font-weight: bold;
             font-size: 11px;
            }
            .order .contct-order-blod .span2{
                color: #022974;
                font-size: 11px;
            }
            .order .contct-order-blod .k{
                margin-left: 2px;
            }
            .btn-blod-order{
                background-color: rgb(241, 241, 241)!important;
            font-weight: bold;
            color: #000;
            padding: 16px 10px;
            font-size: 13px;
            border: none;
            }
.select{
width: 220px;
}

.box-button button{
    margin-left: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: #fff;
    padding: 10px 13px;
    border: 1px solid rgb(201, 200, 200);
    margin-bottom: 20px;

}
}
@media(max-width:368px){
    .background-kind-blod{
        width: 75px;
           height: 75px;
            background-color: rgb(214, 214, 214);
            border-radius: 50%;
        display: flex;
        margin-top: 10px;
        margin-right: 3px;
        margin-bottom:3px;
        margin-left: 3px;
      
            justify-content: center;
            align-items: center;
        }
        .background-kind-blod h3{
            font-weight: bold;
            font-size: 30px;
        }
        .order .contct-order-blod p{
            margin: 0;
            line-height: 30px;
        }
        .order .contct-order-blod .span1{
            margin-left: 2px;
            color: #022974;
            font-weight: bold;
         font-size: 11px;
        }
        .order .contct-order-blod .span2{
            color: #022974;
            font-size: 11px;
        }
        .order .contct-order-blod .k{
            margin-left: 2px;
        }
        .btn-blod-order{
            background-color: rgb(241, 241, 241)!important;
        font-weight: bold;
        color: #000;
        padding: 16px 10px;
        font-size: 13px;
        border: none;
        }
        .box-button button{
            margin-left: 3px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            background-color: #fff;
            padding: 10px ;
            border: 1px solid rgb(201, 200, 200);
            margin-bottom: 20px;
        
        }
}
@media(max-width:361px){
    .background-kind-blod{
        width: 65px;
           height: 65px;
            background-color: rgb(214, 214, 214);
            border-radius: 50%;
        display: flex;
        margin-top: 10px;
        margin-right: 3px;
        margin-bottom:3px;
        margin-left: 3px;
      
            justify-content: center;
            align-items: center;
        }
}

/*=====end media query=====*/