* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
}

/* ===start upper bar=====*/
.upper-par {
    background-color: #06255f;
}

.CONTACT-INFO {
    margin: 0;
    padding: 7px 0;
}

.CONTACT-INFO i {
    float: left;
    font-size: 20px;
    margin-right: 3px;
    margin-top: 5px;
    color: #fff;
}

.CONTACT-INFO span {
    font-size: 18px;
    float: left;
    color: #fff;
}

.kk {
    transform: translateX(13px);
}

.span-email {
    transform: translateX(15px);
}

.CONTACT-INFO .line-info-contact {
    width: 32px;
    height: 1px;
    top: 15px;
    right: 210px;
    background-color: gray;
    position: relative;
    transform: rotate(90deg);
}

.upper-par .icon-social {
    margin: 0;
    padding: 7px 0;
    text-align: center;

}

.upper-par .icon-social i {
    font-size: 22px !important;
    margin-right: 20px !important;
    text-align: center !important;
    transition: .3s all;
    cursor: pointer;
    color: #fff;
}

.fa-facebook:hover {
    transform: scale(1.1);
}

.fa-instagram:hover {
    transform: scale(1.1);
}

.fa-whatsapp:hover {
    transform: scale(1.1);
}

.fa-twitter:hover {
    transform: scale(1.1);
}

.upper-par .contact-language {
    padding: 10px 0;
    margin: 0;
}
.contact-language a{
    text-decoration: none;
}

.contact-language .line-info-contact {
    width: 32px;
    height: 1px;
    right: 25px;
    bottom: 10px;
    background-color: gray;
    position: relative;
    margin-left: -10px;
    transform: rotate(90deg);
}

.upper-par .contact-language .span1 {
    color: red;
    cursor: pointer;
}

.upper-par .contact-language .span2 {
    color: gray;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.CONTACT-INFO {
    margin: 0;
    padding: 7px 0;
}

.CONTACT-INFO a {
    float: left;
}

.CONTACT-INFO .log-in {
    color: gold;
    text-decoration: none;
}

.CONTACT-INFO .sign-in {
    color: #fff;
    margin-left: 28px;
    border-bottom: 1px solid #fff;
}

.CONTACT-INFO .sign-in:hover {
    text-decoration: none;
}

/*====end upper bar=====*/

/*====start navbar=====*/
nav {
    position: relative !important;
    padding: 10px 80px !important;
    box-shadow: 2px 2px 8px rgb(216, 211, 211) !important;
}

.navbar img {
    width: 160px;
    margin-left: 10px;
}

.navbar-brand {
    color: rgb(189, 11, 11) !important;
    font-size: 30px;
    font-weight: bold;
    margin-right: 1px !important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(189, 11, 11) !important;
    font-weight: bold !important;
    margin-left: 10px !important;
}

nav .line-nav {
    position: absolute;
    width: 70px;
    height: 2px;
    bottom: 0;
    background-color: rgb(196, 15, 15);
    ;
}

.navbar-light .navbar-nav .nav-link {
    color: #06255f !important;
    margin-right: 5px !important;

}

nav li:not(:last-of-type) {
    border-left: rgb(235, 229, 229) 1px solid;
}

.navbar-light .navbar-toggler {
    outline: none;
}

.btn-nav {
    background-color: #06255f !important;
    margin-right: 20px;
    padding: 3px 30px;
}

nav .link-login {
    color: #06255f;
    border-bottom: 1px solid #06255f;
}

nav .link-login:hover {
    text-decoration: none;
}

nav .btn-nav img {
    width: 40px;
    transform: translateX(20px);
}
/*===end navbar=======*/
/*======start section order======*/
.order{
    padding: 20px 0;
    background-color:#fbfbfb;
    
}
.btn-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .lks{
      background-color: #fff ;
      padding: 10px 20px;
      transition: .3s all;
      margin-right: 3px;
      margin-bottom: 20px;
  }
  .lks:hover{
      background-color: #022974;
      color: #fff;
     
  }
  .lks2:hover{
      background-color: #022974;
      color: #fff;
     
  }
  .lks2{
      background-color: #022974;
      color: #fff;
      padding: 3px 20px;
      height: 46px;
      margin-right: 3px;
  }
.background-order{
    background-color:#f9f9f9;
    margin: auto;
    margin-top: 8px;
}
.header-order{
    background-color: #fff;
    border: 1px solid rgb(214, 214, 214);
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
}
.order .header-order .a1 {
    font-size: 14px;
    text-decoration: none;
    color: rgb(202, 202, 202);
}
.order .header-order .a3 {
    font-size: 14px;
    text-decoration: none;
    color: rgb(202, 202, 202);
}

.order .header-order .span2 {
    margin-right: 10px;
    color: rgb(202, 202, 202);
    margin-left: 3px;
}
.order .header-order .span3 {
    margin-right: 10px;
    color: #022974;
    margin-left: 3px;
}

.order .header-order .a2 {
    color: #022974;
    text-decoration: none;
}
.inewhiteorder{
    height: 1px;
    background-color: rgb(201, 200, 200);
    margin-bottom: 5px;
    margin-top: 20px;
    margin: auto;
}
.linered-order{
    background-color: rgb(189, 11, 11);
    height: 2px;
    width: 120px;
    transform: translateX(-3px);
    margin: auto;
}
.headerorder h4{
    text-align: center;
    color: rgb(189, 11, 11);
    font-weight: bold;
}
.background-order .input-order {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    }
    
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: #fff;
      width: 100%;
        padding: 0 .5em;
        color: gray;
        font-size: 1em;
        border-radius: 20px;
        border: none;
        outline: none;
    }
    
    select::-ms-expand {
        display: none;
    }
    
    .select {
        position: relative;
        height: 3em;
        width: 290px;
        line-height: 3;
        background: white;
        overflow: hidden;
        border-radius: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 1em;
        background: none;
        cursor: pointer;
        border-right: 1px solid rgb(224, 224, 224);
        pointer-events: none;
        transition: .25s all ease;
        color: #06255f;
    
    }
    .divbutton{
       transform: translateY(-10px);
     
    }
     .divbutton button {
        width: 50px;
        color: #06255f;
        height: 50px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: #fff;
        text-align: center;
        cursor: pointer;
    transition: .3s all;
    }
     .divbutton button:hover{
        box-shadow: 3px 3px 8px rgb(153, 152, 152);
        transform: scale(1.1);
    }
    .blod1{
        background-color: #fff;
        margin: auto;
        border-radius:  0 300px 300px 0;
    }
     .blod1 .background-blod1{
         background-color: rgb(241, 241, 241);
         width: 120px;
         height: 120px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 300px;
         margin-right: 3px;
         margin-bottom: 3px;
         margin-top: 3px;
         margin-left: 20px;
     }
     .contact-blod1{
         margin-top: 5px;
        
     }
     .contact-blod1 div:not(:last-of-type){
         margin-bottom: 15px;
     }
     .contact-blod1  span{
         color: #06255f;
     }
    .span1-blod1{
        margin-left: 20px;
        font-weight: bold;
    }
    .span1-blod3{
        margin-left: 40px;
        font-weight: bold;
       
    }
    
      .header-bold1{
    font-weight: bold;
    font-size: 45px;
     
     }
    .button-blod1{
       margin-top: 30px;
    }
     .button-blod1 button{
         border: none ;
         padding: 15px 50px ;
         background-color: rgb(241, 241, 241) ;
         color: #000;
         float: left;
         font-weight: bold;
     }
     .button-blod1 button:hover{
         color: #000;
         background-color: rgb(241, 241, 241) ;
     }
     .button-blod1 .jj{
        background-color: #06255f;
        color: #fff;
    }
    .button-blod1 .jj:hover{
        background-color: #06255f;
        color: #fff;
    }

/*=====end section order*/
/*=====start footer====*/
footer .backgroundlast{
    width: 100%;
    background-color:#1a1f25;
}
.footer1{
    margin-top: 40px;
}
 footer .backgroundlast .footer1 h5{
color: #fff;
font-weight: bold;
margin: 25px 0;
 }
 footer .backgroundlast .footer1 p{
     color: #fff;
     font-size: 15px;
     
    }
 footer .backgroundlast .footer-links{
     text-align: center;
     margin-top: 40px;
 }
 footer .backgroundlast .footer-links p{
     color: #fff;
     font-weight: bold;
     
 } 
 footer .backgroundlast .footer-links .kl{
     color: rgb(189, 11, 11);
 }
footer .backgroundlast .footer-links .l{
    margin-bottom: 20px;
}
 footer .backgroundlast .footer-links a:hover{
     text-decoration: none;
     color: #fff;
 }
 footer .backgroundlast .footer-app{
     margin-top: 40px;
 }
 footer .backgroundlast .footer-app h6{
     color: rgb(189, 11, 11);
     font-weight: bold;
 }
 footer .backgroundlast .footer-app .img-ggole{
     margin: 50px 0;
 }
 .icons-footer{
     width: 100%;
     
     background-color: #14171c;
 }
 .img-ios{
     margin-bottom: 15px;
 }
 .icons-footer{
     padding-top: 10px;
 }
 footer .backgroundlast .icons-footer .icon-social-footer i{
     margin-left: 20px;
     color: #fff;
     font-size: 20px;
 }
footer .backgroundlast .lastp-footer p{
    color: #fff;
}
footer .backgroundlast .lastp-footer p span{
    color: rgb(189, 11, 11);
}
/*======end footer=====*/
/*=======start media query========*/
@media(max-width:990px){
    .upper-par .contact-language {
        text-align: center;
    }
    .button-blod1 {
        margin-top: -83px;
    }
    .contact-language .line-info-contact {
        width: 32px;
        height: 1px;
        right: 8px;
        bottom: 10px;
        background-color: gray;
        position: relative;
        margin-left: -10px;
        margin: auto;
        transform: rotate(90deg);
    }

    .navbar-brand {
        color: rgb(189, 11, 11) !important;
        font-size: 30px !important;
        font-weight: bold !important;
        margin-right: 0 !important;
    }

    nav {
        position: relative !important;
        padding: 10px 10px !important;
    }

    nav .line-nav {
        bottom: 260px;
    }

    nav li {
        border: none !important;
    }

    .img-ios {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-ggole {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .backgroundlast .footer-app h6 {
        text-align: center;
    }

    .footer1 {
        text-align: center;
    }

    .icon-social-footer,
    .lastp-footer {
        text-align: center;
    }
    .CONTACT-INFO{
     margin: auto;
     width: 200px;
    }
    .CONTACT-INFO .sign-in{
        color: #fff;
        margin-left: 8px;
        border-bottom: 1px solid #fff;
    }
    .contact .contactdivs{
        padding: 0 10px;
    }
}
@media(max-width:767px){
    .select {
        position: relative;
        height: 3em;
        width: 200px;
        line-height: 3;
        background: white;
        overflow: hidden;
        border-radius: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .blod1 .background-blod1{
        background-color: rgb(241, 241, 241);
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 300px;
        margin-right: 3px;
        margin-bottom: 3px;
        margin-top: 3px;
        margin-left: 10px;
    }
    .span1-blod1{
        margin-left: 10px;
        font-weight: bold;
    }
    .span1-blod3{
        margin-left: 10px;
        font-weight: bold;
    }
    .button-blod1 button{
        border: none ;
        padding: 15px 20px ;
        background-color: rgb(241, 241, 241) ;
        color: #000;
        float: left;
        font-weight: bold;
    }
}
@media(max-width:520px){
    .background-order .input-order {
        display: block;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        }
        .select {
            position: relative;
            height: 3em;
            width: 390px;
            line-height: 3;
            margin: auto;
            background: white;
            overflow: hidden;
            border-radius: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .divbutton {
            margin: auto;
            width: 100px;
        }
}
@media(max-width:480px){
    .background-order .input-order {
        display: block;
        align-items: center;
        justify-content: center;
        padding:20px;
        }
        .select {
            position: relative;
            height: 3em;
            width: 340px;
            line-height: 3;
            margin: auto;
            background: white;
            overflow: hidden;
            border-radius: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .divbutton {
            margin: auto;
            width: 100px;
        }
        .button-blod1 button{
            border: none ;
            padding: 15px 10px ;
            background-color: rgb(241, 241, 241) ;
            color: #000;
            float: left;
            font-weight: bold;
        }
        .blod1 .background-blod1{
            background-color: rgb(241, 241, 241);
            width: 90px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 300px;
            margin-right: 3px;
            margin-bottom: 0;
            transform: translateY(5px);
            margin-top: 3px;
            margin-left: 3px;
        }
        .span1-blod1{
            margin-left: 5px;
            font-weight: bold;
        }
        .span1-blod3{
            margin-left: 5px;
            font-weight: bold;
        }
        .lks{
            background-color: #fff ;
            padding: 10px 14px;
            transition: .3s all;
            margin-right: 3px;
            margin-bottom: 20px;
        }
        .lks2{
            background-color: #022974;
            color: #fff;
            padding: 3px 14px;
            height: 46px;
            margin-right: 3px;
        }
}
@media(max-width:445px){
    .background-order .input-order {
        display: block;
        align-items: center;
        justify-content: center;
        padding:20px;
        }
        .select {
            position: relative;
            height: 3em;
            width: 340px;
            line-height: 3;
            margin: auto;
            background: white;
            overflow: hidden;
            border-radius: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .divbutton {
            margin: auto;
            width: 100px;
        }
        .button-blod1 button{
            border: none ;
            padding: 15px 5px ;
            background-color: rgb(241, 241, 241) ;
            color: #000;
            float: left;
            font-weight: bold;
            transform: translateX(-10px);
        }
        .blod1 .background-blod1{
            background-color: rgb(241, 241, 241);
            width: 90px;
            height:90px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 300px;
            margin-right: 3px;
            margin-bottom: 0;
            transform: translateY(5px);
            margin-top: 3px;
            margin-left: 3px;
        }
        .span1-blod1{
            margin-left: 5px;
            font-weight: bold;
            font-size: 15px;
        }
        .span1-blod3{
            margin-left: 5px;
            font-weight: bold;
            font-size: 15px;
        }
}
@media(max-width:419px){
    .background-order .input-order {
        display: block;
        align-items: center;
        justify-content: center;
        padding:20px;
        }
        .select {
            position: relative;
            height: 3em;
            width: 300px;
            transform: translateX(16px);
            line-height: 3;
            margin: auto;
            background: white;
            overflow: hidden;
            border-radius: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .divbutton {
            margin: auto;
            width: 100px;
        }
        .button-blod1 button{
            border: none ;
            padding: 15px 2px ;
            background-color: rgb(241, 241, 241) ;
            color: #000;
            float: left;
            font-weight: bold;
            transform: translateX(-10px);
        }
        .blod1 .background-blod1{
            background-color: rgb(241, 241, 241);
            width: 90px;
            height:90px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 300px;
            margin-right: 3px;
        transform: translateY(-2px);    
            margin-top: 3px;
            margin-left: 3px;
        }
        .span1-blod1{
            margin-left: 1px;
            font-weight: bold;
         
        }
        .span1-blod3{
            margin-left: 1px;
            font-weight: bold;
           
        }
        .contact-blod1 {
            margin-top: 2px;
        }
        .contact-blod1 div:not(:last-of-type) {
            margin-bottom: 5px;
}
.contact-blod1 span {
    color: #06255f;
    font-size: 14px;
    
}
}
@media(max-width:401px){
    .background-order .input-order {
        display: block;
        align-items: center;
        justify-content: center;
        padding:20px;
        }
        .select {
            position: relative;
            height: 3em;
            width: 300px;
            transform: translateX(16px);
            line-height: 3;
            margin: auto;
            background: white;
            overflow: hidden;
            border-radius: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .divbutton {
            margin: auto;
            width: 100px;
        }
        .button-blod1 button{
            border: none ;
            padding: 15px 2px ;
            background-color: rgb(241, 241, 241) ;
            color: #000;
            float: left;
            margin-top: 10px;
            font-weight: bold;
            transform: translateX(-10px);
        }
        .blod1 .background-blod1{
            background-color: rgb(241, 241, 241);
            width: 70px;
            height:70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 300px;
            margin-right: 3px;
        transform: translateY(6px);    
            margin-top: 3px;
            margin-left: 3px;
        }
        .blod1 .background-blod1 h3{
            font-size: 20px;
        }
        .span1-blod1{
            margin-left: 1px;
            font-weight: bold;
         
        }
        .span1-blod3{
            margin-left: 1px;
            font-weight: bold;
           
        }
        .contact-blod1 {
            margin-top: 2px;
        }
        .contact-blod1 div:not(:last-of-type) {
            margin-bottom: 5px;
}
.contact-blod1 span {
    color: #06255f;
    font-size: 14px;
    
}
}
@media(max-width:384px){
    .background-order .input-order {
        display: block;
        align-items: center;
        justify-content: center;
        padding:20px;
        }
        .select {
            position: relative;
            height: 3em;
            width: 300px;
            transform: translateX(30px);
            line-height: 3;
            margin: auto;
            background: white;
            overflow: hidden;
            border-radius: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .divbutton {
            margin: auto;
            width: 100px;
            transform: translateX(-30px);
        }
        .button-blod1 button{
            border: none ;
            padding: 15px 2px ;
            background-color: rgb(241, 241, 241) ;
            color: #000;
            float: left;
            font-weight: bold;
            transform: translateX(-10px);
            font-size: 15px !important;
        }
        .blod1 .background-blod1{
            background-color: rgb(241, 241, 241);
            width: 70px;
            height:70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 300px;
            margin-right: 3px;
        transform: translateY(3px);    
            margin-top: 3px;
            margin-left: 3px;
        }
        .span1-blod1{
            margin-left: 1px;
            font-weight: bold;
         
        }
        .span1-blod3{
            margin-left: 1px;
            font-weight: bold;
           
        }
        .contact-blod1 {
            margin-top: 2px;
        }
        .contact-blod1 div:not(:last-of-type) {
            margin-bottom: 5px;
}
.contact-blod1 span {
    color: #06255f;
    font-size: 13px;
    
}
}
@media(max-width:368px){
    .background-order .input-order {
        display: block;
        align-items: center;
        justify-content: center;
        padding:20px;
        }
        .select {
            position: relative;
            height: 3em;
            width: 300px;
            transform: translateX(40px);
            line-height: 3;
            margin: auto;
            background: white;
            overflow: hidden;
            border-radius: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .divbutton {
            margin: auto;
            width: 100px;
            transform: translateX(-30px);
        }
        .button-blod1 button{
            border: none ;
            padding: 15px 2px ;
            background-color: rgb(241, 241, 241) ;
            color: #000;
            float: left;
            font-weight: bold;
            transform: translateX(-10px);
            font-size: 15px !important;
        }
        .blod1 .background-blod1{
            background-color: rgb(241, 241, 241);
            width: 70px;
            height:70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 300px;
            margin-right: 3px;
        transform: translateY(3px);    
            margin-top: 3px;
            margin-left: 3px;
        }
        .span1-blod1{
            margin-left: 1px;
            font-weight: bold;
         
        }
        .span1-blod3{
            margin-left: 1px;
            font-weight: bold;
           
        }
        .contact-blod1 {
            margin-top: 2px;
        }
        .contact-blod1 div:not(:last-of-type) {
            margin-bottom: 5px;
}
.contact-blod1 span {
    color: #06255f;
    font-size: 12px;
    
}
}
/*========end meida query=========*/